{
  "presets": [ [
    "@babel/preset-env", {
      "targets": {
        "node": "current",
        "browsers": "> 1%",
        "ie": "11"
      },
      "useBuiltIns": "entry",
      "corejs": 3
    }
  ], "@babel/preset-react" ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/proposal-class-properties",
    "@babel/plugin-transform-template-literals"
  ]
}
