# Logs
logs
*.log
npm-debug.log*

# Testing
/coverage

# Production
/build

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# VS Code
.vscode
.vs

# ESLint
eslintreport.html
